In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import joblib

In [2]:
df = pd.read_csv('Linear Regression - Sheet1.csv', header='infer')

In [3]:
df.sample(5)

       X           Y
273  274  185.888889
133  134   92.555556
227  228  155.222222
3      4    5.888889
207  208  141.888889

In [4]:
df = df.rename(columns={'X': 'variable', 'Y':'output'})

In [5]:
df.head()

   variable    output
0         1  3.888889
1         2  4.555556
2         3  5.222222
3         4  5.888889
4         5  6.555556

In [6]:
X = df.loc[:,df.columns !='output']
y = df['output']

In [7]:
lr = LinearRegression().fit(X,y)
lr.score(X,y)

0.9213615685311795

In [8]:
# save the model in a pickle file
joblib.dump(lr, 'linear_regression_model.pkl')

['linear_regression_model.pkl']