In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('online_sales.csv')
df.head()

   age  new_user  total_pages_visited  converted
0   25         1                    1          0
1   23         1                    5          0
2   28         1                    4          0
3   39         1                    5          0
4   30         1                    6          0

In [4]:
df.shape

(316200, 4)

In [5]:
df.converted.value_counts()

converted
0    306000
1     10200
Name: count, dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316200 entries, 0 to 316199
Data columns (total 4 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   age                  316200 non-null  int64
 1   new_user             316200 non-null  int64
 2   total_pages_visited  316200 non-null  int64
 3   converted            316200 non-null  int64
dtypes: int64(4)
memory usage: 9.6 MB

In [7]:
input_columns = [column for column in df.columns if column != 'converted']

In [8]:
print(input_columns)

['age', 'new_user', 'total_pages_visited']

In [9]:
output_column = 'converted'

In [10]:
X = df.loc[:, input_columns].values
y = df.loc[:, output_column]

In [11]:
print(X.shape, y.shape)

(316200, 3) (316200,)

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, 
                            random_state=42, stratify=y)

In [14]:
print(np.sum(y_train))

8160

In [15]:
print(np.sum(y_test))

2040

In [16]:
model = LogisticRegression(class_weight='balanced').fit(X_train, y_train)

In [17]:
model.score(X_test, y_test)

0.9353573687539531

In [18]:
predictions=model.predict(X_test)

In [19]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [20]:
print(classification_report(y_test, predictions,
                            target_names=['Non Converted', 'Converted']))

               precision    recall  f1-score   support

Non Converted       1.00      0.94      0.97     61200
    Converted       0.32      0.93      0.48      2040

     accuracy                           0.94     63240
    macro avg       0.66      0.93      0.72     63240
 weighted avg       0.98      0.94      0.95     63240

#### Export the Trained Model

In [21]:
import pickle
pickle_out = open("logReg.pkl", "wb")
pickle.dump(model, pickle_out)
pickle_out.close()

In [22]:
# test model
pickle_in = open("logReg.pkl", "rb")
model_ = pickle.load(pickle_in)

In [24]:
# test on a single customer
model_.predict([[45,0,5]])[0]

0