In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('online_sales.csv')
df.head()

   age  new_user  total_pages_visited  converted
0   25         1                    1          0
1   23         1                    5          0
2   28         1                    4          0
3   39         1                    5          0
4   30         1                    6          0

In [3]:
df.shape

(316200, 4)

In [4]:
df.converted.value_counts()

converted
0    306000
1     10200
Name: count, dtype: int64